* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background: #f3f3f3;
	color: #000000;
	font: 75% Arial, Tahoma, sans-serif;
}

.container {
    height: 100%;
    width: 100%;
    overflow:hidden;
    scroll: none;
}

.header {
    padding:30px 0 30px 0;
    width: 100%;
}

.header-menu {
    background-color: #2665a9;
    height: 42px;
}

#content {
    padding: 0 40px 0 40px;
    position:relative;
}

.item {
    width:29%;
    padding:10px;
    z-index: 2;
}

.item-content {
    width:100%;
    background-color: #a1a1a1;
}

/**** Isotope Filtering ****/

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    -ms-transition-property:     -ms-transform, opacity;
    -o-transition-property:      -o-transform, opacity;
    transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

